@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');
header {
    width: 100%;
    color: #121212;
    background-color: #fff;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 70px;

    padding: 0 32px;
    margin: 0 auto;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */

.header__nav-logo {
    flex-shrink: 0;
}

.home-link {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: inherit;
}

.logo-image {
    width: 30px;
    height: auto;;
    display: block;
    padding-bottom: 2px;
    object-fit: contain;
}

.logo-title {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;

    white-space: nowrap;
}

/* Search */

.search-form {
    display: flex;
    align-items: center;

    flex: 1;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    border: 1px solid #c7c7c7;
    border-right: none;
    border-radius: 5px 0 0 5px;

    background: #fff;
}

.search-input {
    width: 100%;
    min-width: 0;
    height: 42px;

    padding: 0 10px;

    border: 1px solid #c7c7c7;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.search-input::placeholder {
    color: #888;
}

/* Navegação de links */

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-icon {
    width: 35px;
    height: 35px;
}

.nav-icon {
    width: 25px;
    height: 25px;
}

.nav-category-text {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;

    white-space: nowrap;
}

/* Navegação de usuário */
.user-text {
    display: flex;
    flex-direction: column;
}

.user-greeting {
    font-size: 0.8rem;
    font-weight: 600;
}

.user-action {
    font-size: 0.8rem;
    color: #4b4b4b;
}

/* Mobile menu */

.mobile-menu-button {
    display: none;
}

.mobile-menu-icon {
    width: 40px;
    height: 40px;

    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

/* Mobile */

@media (max-width: 486px) {
    .header__nav {
        padding: 0 10px;
    }
    .logo-image {
        width: clamp(40px, 12vw, 45px);
    }
    .logo-title,
    .header__nav-links,
    .header__nav-user,
    .nav-icon {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }
}

/* Tablet */

@media (min-width: 487px) and (max-width: 599px) {
    .header__nav {
        padding: 0 10px;
    }
    .logo-image {
        width: clamp(40px, 12vw, 45px);
    }

    .logo-title {
        display: none;
    }

    .header__nav-links {
        display: none;
    }

    .user-greeting {
        display: none;
    }

    .search-input {
        min-width: 210px;
    }

    .mobile-menu-button {
        display: block;
    }
}

/* Desktop pequeno*/

@media (min-width: 600px) and (max-width: 800px) {
    .logo-image {
        width: 30px;
    }

    .search-input {
        min-width: clamp(200px, 30vw, 300px);
    }

    .header__nav-links {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }
}